<div class="booking-form-wrapper">
	<div class="header-wrapper gradient">
		<span class="title">{{bookingform.step0.title}}</span>
		<div class="title-bis">{{{bookingform.step1.title}}}</div>
		<div class="booking-summary">
		</div>
	</div>
</div>