
				<div class="pie-wrapper">
					<svg width="206" height="206" viewbox="0 0 206 206">
					  <path class="full-circle" transform="translate(103, 103) scale(.99)" d="M 0 0 v -103 A 103 103 1 1 1 -0.0007853981635307616 -102.9999999975326 z"/>
					  <path class="border" transform="translate(103, 103)"/>
					  <path class="center" transform="translate(103, 103) scale(.84)" d="M 0 0 v -103 A 103 103 1 1 1 -0.0007853981635307616 -102.9999999975326 z"/>
					</svg>
					<div class="pie-score">0%</div>
					<div class="pie-ranking">{{ranking}} <span>{{categoryName}}</span></div>
					<div class="pie-city">{{in}} <span>{{name}}</span></div>
				</div>