<div data-index="1" class="tab-content" id="fiche-friends">
	{{!-- <div class="inner-nav tabs">
		<ul class="list inline-nowrap">
			{{#each city.categories}}
			<li>
				<a class="tab" href="{{id}}" data-index="{{@index}}">{{name}}</a>
			</li>
			{{/each}}
		</ul>
	</div>
	<div class="inner-content">
		<div class="col left">
			
		</div>
		<div class="col right">
			
		</div>
	</div> --}}
</div>