<header id="main-header" class="">
	<a href="{{_ROOT}}" class="main-logo icon-logo">MARA</a>
	<ul class="list inline-nowrap user-wrapper">
		<li><a href="" class="icon-sync">{{header.inspire}}</a></li>
		<li><span class="icon-heart nb-likes"></span></li>
		<li><span class="icon-heart-broken nb-dislikes"></span></li>
		<li>
			<div class="user-picture"></div>
			<div class="user-name">{{header.welcome}}</div>
		</li>
	</ul>
</header>