
		<div id="travel-lists">
			<div class="inner-nav tabs">
				<ul class="list inline-nowrap">
					<li>
						<a class="tab active icon-favlist" href="" data-index="0">{{travelList.tabs.0.title_short}}</a>
					</li>
					<li>
						<a class="tab icon-heart2" href="" data-index="1">{{travelList.tabs.1.title_short}}</a>
					</li>
					<li>
						<a class="tab icon-heart-broken" href="" data-index="2">{{travelList.tabs.2.title_short}}</a>
					</li>
				</ul>
			</div>

			<div class="tab-contents">
			</div>

		</div>
